[[inputs.prometheus]]
    startup_error_behavior = "retry"
    urls = ["${STARGAZER_URL}/api/monitor/{{ instance_type }}/metrics"]
    interval = "{{ interval | default(300, true) }}s"
    timeout = "{{ interval | default(300, true) }}s"
    response_timeout = "{{ interval | default(300, true) }}s"

    [inputs.prometheus.http_headers]
        username = "{{ username }}"
        password = "${PASSWORD__{{ config_id }}}"
        host = "{{ host }}"
        instance_id = "{{ instance_id }}"
        instance_type = "{{ instance_type }}"
        collect_type = "http"
        config_type = "vmware"
        timeout = "{{ interval | default(300, true) }}"
